/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;


}
.soleil3{
    width: 50%;
    height: 500px;
    background: rgb(223, 141, 179);
    box-shadow: 0px 0px 10px blue;
    justify-content: center;
    align-items: center;
    transform: all 4s linear;
    padding: 0px;
    margin-top: 10px;
    font-size: 30px;
    font-style: italic;
    border: #f8b6c0;
    gap: 10%;
    margin-left: 550px;
    border-radius: 50px;
    

}
.soleil2 img{
   
    width: 45%;
    height: 500px;
    box-shadow: 0px 0px 10px rgb(213, 9, 190);
    justify-content: center;
    align-items: center;
    transform: all 4s linear;
    padding: 0x;
    margin-top: 30px;
    border-radius: 60px;
    
    
    

}


header {
    background-color: #f8b6c0;
    padding: 20px 0;
}

header h1 {
    color: #fff;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
@media only screen and (max-width: 768px){
    .sidebar{
        background-color: rgb(206, 233, 108);
    }

section {
    padding: 50px 0;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

footer {
    background-color: #f8b6c0;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
}
.nav{
    background-color: aquamarine;
    border-radius: 0px 0px 10px;
    box-shadow: 10px;
}
footer {
    background-color: #f8b6c0;;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }
  
  .desc {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .desc span {
    color: #333;
  }
  
  copyright {
    font-size: 14px;
    color: #777;
  }